<div class="mainDiv">
    <div class="cardStyle">
        <img src="/images/logo.png" id="appLogo" />
        <br><br>

        <h2 class="formTitle">
            Your request was received
        </h2>

        <div style="margin:50px 0;display: flex;flex-direction:column;gap:20px;align-items:center">
            <div style="font-size: 18px;">If <b>{{emailOrPhone}}</b> is associated with an account, a reset link is on
                its way.</div>
            <div><i>You can close this page now.</i></div>
        </div>
    </div>
</div>

<!-- HTML !-->