<div class="mainDiv">
    <div class="cardStyle">
        <img src="/images/logo.png" id="appLogo" />
        <br><br>

        <h2 class="formTitle">
            Request password reset
        </h2>

        {{>errorMessage errors=errors}}

        <form method="post" action={{forgotPasswordApiEndpoint}} name="forgotPasswordFormViaEmail" id="form">
            <input hidden type="hidden" name="receiveVia" value="MAIL">

            <div class="inputDiv">
                <h3 class="subtitle">Enter your email address</h3>
                <label class="inputLabel" for="email">Email</label>
                <input required autocomplete="email" value="{{#if input}}{{input.email}}{{/if}}" type="email" id="email"
                    name="email">
            </div>
            <div id="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>
        </form>

        <div class="loaderWrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- HTML !-->