<div class="mainDiv">
    <div class="cardStyle">
        <img src="/images/logo.png" id="appLogo" />
        <br><br>

        <h2 class="formTitle">
            Request password reset
        </h2>

        <div id="methodsWrapper" style="display: flex;flex-direction:column;gap:20px;align-items:center">
            <div style="font-size:18px; padding-bottom:20px">Choose how you prefer to receive a reset password code:
            </div>
            <a role="button" class="text-button buttonBlue" href={{requestPasswordResetViaEmailPage}}><span>Receive via
                    E-mail</span></a>
            <a class="text-button buttonGreen" href={{requestPasswordResetViaPhonePage}}>Receive via SMS</a>
        </div>
    </div>
</div>

<!-- HTML !-->