<div class="mainDiv">
    <div class="cardStyle">
        <img src="/images/logo.png" id="appLogo" />
        <br><br>

        <h2 class="formTitle">
            Request password reset
        </h2>

        {{>errorMessage errors=errors}}

        <form method="post" action={{forgotPasswordApiEndpoint}} name="forgotPasswordFormViaPhone" id="form">
            <input hidden type="hidden" name="receiveVia" value="SMS">
            <div class="inputDiv">
                <h3 class="subtitle">Enter your phone number</h3>
                <label class="inputLabel" for="phone">Phone</label>
                <input required autocomplete="mobile" value="{{#if input}}{{input.phone}}{{/if}}" type="number"
                    id="phone" name="phone">
            </div>

            <div id="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>
        </form>
        <div class="loaderWrapper">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- HTML !-->