<div class="mainDiv">

    <div class="cardStyle">

        <img src="/images/logo.png" id="appLogo" />
        <br>
        <div style="display: flex;flex-direction:column;align-items:center">

            <h2 class="formTitle" style="margin-bottom: 20px;">
                Password reset link is invalid or has expired!
            </h2>
            <p style="font-size: 18px;">
                You can request a new one <a href="/forgot-password/start">here</a>
            </p>
        </div>
    </div>
</div>