<div class="mainDiv">

    <div class="cardStyle">

        <img src="/images/logo.png" id="appLogo" />

        <h2 class="formTitle" style="margin-bottom: 20px;">
            Password Reset
        </h2>
        <br>

        <div id="sectionA">
            <form method="post" name="resetPasswordForm" id="resetPasswordForm">

                <div class="inputDiv">
                    <label class="inputLabel" for="password">New Password</label>
                    <div class="password-container">
                        <input autocomplete="new-password" spellcheck="false" type="password" id="password"
                            name="password" required>
                        <button type="button" id="show-password">Show</button>
                    </div>
                    <progress id="strengthMeter" value="0" max="4"></progress>
                    <div id="strengthFeedback"></div>
                    <div id="strengthSuggestion"></div>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="passwordConfirmation">Confirm Password</label>
                    <div class="password-container">
                        <input spellcheck="false" type="password" id="confirmPassword" name="passwordConfirmation">
                        <button type="button" id="show-password-confirmation">Show</button>
                    </div>
                </div>
                <div id="resultSection">
                    <h3 id="resultMessage" class="subtitle" style="margin: 40px 12px;"></h3>
                </div>
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                        Reset my password
                    </button>

                </div>
                <div class="loaderWrapper">
                    <div id="loader"></div>
                </div>
            </form>
        </div>
        <br>

    </div>
</div>